<nav class="navbar container">
    <div class="navbar__logo">
        <!-- Later you can replace with an <img> -->
        <a href="http://localhost:8080/home" class="navbar__brand">Food<span>Hub</span></a>
    </div>

    <div class="navbar__links">
        <a href="http://localhost:8080/cart" class="nav-link">Cart</a>
        <a href="http://localhost:8080/login" class="nav-link nav-link--primary">Login</a>
    </div>
</nav>


